

    <div class="card mb-4">
        {% if properties.filename %}
            <img src="{{ vich_uploader_asset(properties, 'imageFile') }}" alt="card-img-top" style="width: 100%; height:auto;">
        
        {% else %}
            <img src="{{ '/images/properties/Dessin1.png' }}" alt="card-img-top" style="width: 100%; height:auto;">
        {% endif %}
         
         <div class="card-body">
            <h5 class="card-title">
                <a href="{{ path ( 'property.show' , {id: properties.id}) }}" title="ciliquez poue en savoir plus sur le lien">{{ properties.title }}</a>
            </h5>
            <p class="card-text">{{ properties.surface }}m2 {{ properties.city }} ({{ properties.postalcode }}) </p>
            <div class="text-primary" style="font.size: 2rem; font-weight: bold;">{{ properties.formattedPrice }} £</div>
         </div>
        
    </div>

